@model IEnumerable<LibraryMVC.Models.Author>

<h2>Authors</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Author</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.Country</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@author.AuthorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@author.AuthorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@author.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>