@model StudentPortal.Models.StudentIndexViewModel

<h2>Students</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>

    @foreach (var s in Model.Students)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Age</td>
        </tr>
    }

</table>

<h2>Request Logs</h2>

<table border="1">
    <tr>
        <th>URL</th>
        <th>Execution Time (ms)</th>
        <th>Request Time</th>
    </tr>

    @foreach (var log in Model.Logs)
    {
        <tr>
            <td>@log.Url</td>
            <td>@log.ExecutionTime</td>
            <td>@log.RequestTime</td>
        </tr>
    }

</table>